<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smart Alarm</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/styles.css') }}">
        <style type="text/css">

        </style>
    </head>
    <body>
    <div class="body">
        <div class="head">
            <h1><b>Smart Alarm</b></h1>
            <div class="message">
                {% include 'includes/messages.html' %}
            </div>
        </div>

        {% block body %}{% endblock %}
    </div>

    <script type="text/javascript">

    </script>
    </body>
</html>